extends layout

block title
  title Content Guidelines - Resolution Editor

block content
  .container
    h4.center: +icon("gavel", "large " + weakpermColor)
    h3.center Content Guidelines
    .divider
    p These Content Guidelies serve to set a regulatory basline concerning the use of the editor and what you're allowed to write in it. It's easily summarized:
    h5.light: blockquote Use the Resolution Editor for what it's meant to be used for: #[b writing resolutions]. That alone sets the standard at a pretty level. Like most laws try to incorporate, just use your #[b common sense].

