extends layout

block title
  title Content Guidelines - Resolution Editor

block styles
  +static("css", "/css/contentguidelinesStyle.css")

block content
  .container
    h4.center: +icon("gavel", "large " + weakpermColor)
    h3.center Content Guidelines
    .divider
    p.justify These Content Guidelies serve to set a regulatory basline concerning the use of the editor and what you're allowed to write in it. It's easily summarized:
    h5.light: blockquote.green-quote Use the Resolution Editor for what it's meant to be used for: #[b writing resolutions]. That alone sets the standard at a pretty high level. Like most laws try to incorporate, just use your #[b common sense].
    | Here are some things you should/shouldn't do with the editor:
    .row
      .col.m6.s12.green-text
        h5: b: u Good
        p Resolution content
        p Conform to the conference's rules for resolutions
        p Don't insert your own punctuation at the end of clauses; the Resolution Editor will insert these automatically and absolutely correctly!
        p Alert authorities about violating content or users
        p Help other users with the editor, tell them about these guidelines if they seem uninformed.
      .col.m6.s12.red-text
        h5: b: u Not Good
        p Profanities, Insults
        p Inappropriate or offensive content or anything else nsfw
        p Bypassing of filters or restrictions
        p Off-topic content (Not resolution related)
        p Links to phishing sites or similar
        p Individual self-promotion (outside of politicial context)
        p Spam, Advertisement or Vandalistic content
        p Content that intentionally makes it hard to process in the workflow
    p.center These guidelines may change without notice and are subject to interpretation by the administration.
