extends layout

block title
  title Error - Resolution Editor

block content
  .container
    h4.center: +icon("gesture", "large " + colors.weakperm)
    h3=error.message
    h5.grey-text.text-lighten-1 Status #{error.status || "?"}
    if devEnv && error.stack
      .divider
      pre=error.stack
    br
