extends layout

block title
  title Error #{error.status || "?"} - Resolution Editor

block container-content
  +page-title("gesture", colors.weakperm)
    h3 Error: Status #{error.status || "?"}
  h5
    case error.status
      default
        | We don't know what went wrong.
      when 404
        | This page doesn't exist.
      when 500
        | The server did an oopsie and had an internal problem.
  if devEnv && error.stack
    pre=error.stack
  br
