extends layout

block title
  title Structure Definition - Resolution Editor

block styles
  +static("css", "/css/formatdefinitionStyle.css")

block container-content
  +page-title(icons.formatDef, "text-darken-2 grey-text", "Resolution Structure Format Definition")
  p.justify This object describes the format of the resolution in a file or as stored in the database. All resolutions have this format. If the format changes, resolutions in outdated file formats may become unreadable by the editor. This definition validates the formal structure of a resolution in MUNOL. Additionally, no deeper child clauses than subsub-clauses are allowed (even though that isn't represented in this definition page).
  .row
    .col.m6.s12
      mixin objectlist(obj)
        ul
          each val, prop in obj
            li
              if typeof val === "object"
                =prop + ": "
                +objectlist(val)
              else
                =prop + ": " + val
      .padd-list: +objectlist(data)
    .col.m6.s12
      pre=dataJson
