extends layout

block title
  title Forum Selection for Resolution Overview

block content
  .container
    +icon("description", "large left blue-text")
    h3 Forum Selection
    .divider
    p.justify Select which forum you want to view the resolutions of.
    if forums
      ul
        each forum in forums
          li: a(href="/list/committee/" + forum.nameId)=forum.name
    else
      p.center: em.grey-text.text-darken-1 No forums to display.
