extends layout

//- doesn't do anything at the moment
  block styles
    link(href="/css/helpStyle.css" type="text/css" rel="stylesheet")

block content
  .container
    include stages
    h4.center: +icon("help", "large text-darken-1 " + sectext)
    h3.center Help Page
    .divider
    h4: +icon("supervisor_account", "mediumsmall left text-darken-3 amber-text")
    h4 Access Levels
    | These are the access levels of access codes that are displayed on the edtor page of each resolution.
    table.striped
      thead: tr
        th Holder
        th Level
        th Description
      tbody
        mixin row(holder, level)
          tr
            td=holder
            td=level
            td.justify
              block
        +row("Everyone (Delegates)", "DE")
          | This level means that there is no specific access restriction and the resolution can be viewed by anyone with the token. No access code is needed for this level.
        +row("The Approval Panel", "AP")
          | Editing is restricted to the Approval Panel. Resolutions are restricted to this access level when they are in stage
          a(href="#rstage2")  #2
          | .
        +row("The Formal Clearing", "FC")
          | Editing is restricted to the Formal Clearing. Resolutions are restricted to this access level when they are in stage
          a(href="#rstage3")  #3
          | .
        +row("Chairs", "CH")
          | Chairs always have unrestricted access to resolutions. This overrides other restrictions, like the levels FC and AP. This is the maximum level found on a resolution.
        +row("Administration", "MA")
          | This level represents unrestircted access to all available functions of the website. This also includes changing access levels of specific codes or giving out new access codes.
    h4: +stage-info-icon
    h4 List of Resolution Workflow Stages
    - var i = 0;
    while i <= 8
      +stage-info-index(i++, false)
    h4: +icon("build", "mediumsmall left text-darken-2 grey-text")
    h4 Resolution Structure Format Definition
    p Click
      a(href="/help/formatdefinition")  here
      |  to view the JSON representation of the definition object of the resolution structure format.
