extends layout

block title
  title Resolution #{token} Plainview

block styles
  +static("css", "/css/plainviewStyle.css")

block content
  .container
    +icon(icons.plaintext, "large left" + colors.plaintext)
    h3 Plaintext Resolution
    h5.light=token
    .divider
    pre.grey-text.text-darken-3#resolution-content=data
    br
    br
