extends layout

block content
  .container
    +icon("receipt", "large left text-darken-1 purple-text")
    h3 Plaintext Resolution
    h4.light=token
    .divider
    pre.grey-text.text-darken-3=data
    br
    br
