extends layout

block title
  title Print Queue

block styles
  +static("css", "/css/printQueueStyle.css")

block content
  .container
    +icon("print", "large left blue-text")
    h3 Print Queue
    .divider
    p.justify This is a queue of all resolutions that are in stage #[a(href="/help#rstage4") 4] and need to be printed. After printing the generated PDF file, you can advance the resolution to the next stage. Once the resolution has been advanced to the next stage, it cannot be brought back into this list. Resolutions that cannot be advanced (or are static) will not appear on this list. The time a particular resolution has been waiting to print is displayed in the upper right corner of the item list.
    mixin item-core-inner
      a.item-token(href="#" target="_blank") @ABCD1234
      span.light=": "
        span.item-year YYYY
        | /
        span.item-id nnn
    mixin item-core(header)
      if header
        h5.item-token-wrapper
          +item-core-inner
      else
        .item-token-wrapper
          +item-core-inner
          block
      span.item-age.grey-text.right ? minutes
    ul.collection#queue
      li.collection-item#first-item
        +item-core(true)
        br
        | Submitted to #[b.item-forum ffff] by #[b.item-sponsor ssss]
        span.right Print #[b#item-print-copies ?] copies, #[span#item-print-length ? pages] each
        br
        a.waves-effect.waves-light.btn.btn-spacing-right#print-btn(href="#" target="_blank")
          .inline-spinner-wrapper.hide-this#pdf-wait-spinner
            +spinner("blue", "inline-spinner")
            |  Rendering...
          #print-btn-inner
            span#print-btn-text Loading
            +icon("access_time", "left")
        a.waves-effect.waves-light.btn.disabled#advance-btn(href="#") Advance Resolution
          +icon("forward", "left")
      li.collection-item.hide-this.list-item#item-template
        +item-core
          |  in #[b.item-forum ffff] by #[b.item-sponsor ssss]
    .center.hide-this#no-items-msg There currently are no documents waiting to print.
    p.center.hide-this#error-msg There was an error with getting the data from from the server. Contact IT-Management if this problem persists after reloading the page.
    .center
      span.grey-text Automatically checking the server for new data every 30 seconds.
      a#update-data-now(href="#")  Check now
    br
block scripts
  +static("js", "/js/dialogs.js")
  +static("js", "/js/queue.js")
  +static("js", "/js/printQueueInit.js")
