-
  var stageData = [
    { //0
      title: "Initial Creation",
      description: "This resolution has not been opened with the resolution token yet. The token will be released back into the system if the resolution remains unsaved at this stage for longer than 24 hours.",
      advance: "Saving the resolution"
    },
    { //1
      title: "Delegate Writing",
      description: "This resolution is being worked on by the Delegate and has been opened with the resolution token. The resolution token is now bound to this saved resolution. The Delegate has to have their Chair enter their access code to approve the written resolution by the Chair.",
      advance: "Entering a Chair access code for approval by the Chair"
    },
    { //2
      title: "Approval Panel Correcting",
      description: "The Approval Panel is correcting this resolution. After having entered the Approval Panel access code to open the editor, spelling and grammar mistakes in the resolution are corrected. Then a button is pressed to approve and advance this resolution to the next step.",
      advance: "Entering an AP or Chair access code for approval by the Approval Panel"
    },
    { //3
      title: "Formal Clearing Viewing",
      description: "The Formal Clearing Office is looking at this resolution and determining its fulfillment of the formal constraints. The Formal Clearing approves the resolution following the same scheme as the Approval Panel; a button is pressed by the Formal Clearing to approve and advance the resolution.",
      advance: "Entering an FC or Chair access code for approval by the Formal Clearing Office"
    },
    { //4
      title: "Waiting to Print",
      description: "This resolution has completed its validation process and will soon be printed by the Secretariat. From this point on only Chairs have editing access to this resolution.",
      advance: "Printing the resolution and entering an SC (Secretariat), FC or Chair access code to signify this action"
    },
    { //5
      title: "Waiting to Debate",
      description: "The Secretariat has printed this resolution for the committee and it will be debated sometime after the printed copies have been distributed to the Delegates.",
      advance: "Entering a Chair access code to begin the debate"
    },
    { //6
      title: "In Committee Debate",
      description: "This resolution is being actively debated by its committee and will frequently change because of this. LiveView is enabled for this resolution during this stage so that this resolution can be accessed by another device for presentation.",
      advance: "Entering a Chair access code to finish the debate"
    },
    { //7
      title: "Committee Debate Finished",
      description: "The first final stage of this resolution has been reached. The corresponding committee has debated the content of this resolution. This resolution can be selected for inclusion in the resolution booklet now.",
      advance: "Selecting this resolution for a resolution booklet"
    },
    { //8
      title: "Final Correction",
      description: "Chairs, the SecGens, members of the Association and the FCO are correcting this resolution for presentation it the resolution booklet.",
      advance: "Entering a SecGen access code to finish the correction process"
    },
    { //9
      title: "Composing Booklet",
      description: "The resolution booklet is being finalized and includes this resolution. When all selected resolutions of the booklet reach this stage, the booklet can be printed. This resolution is waiting to be debated in a plenary.",
      advance: "Entering a SecGen access code to begin the plenary debate"
    },
    { //10
      title: "In Plenary Debate",
      description: "This resolution is subject of a plenary debate and will frequently change because of this. LiveView is enabled for this resolution during this stage so that this resolution can be accessed by another device for presentation.",
      advance: "Entering a SecGen access code to finish the plenary debate"
    },
    { //11
      title: "Plenary Debate Finished",
      description: "The second final stage of this resolution has been reached after a plenary debate."
    },
    { //?
      title: "Unknown",
      description: "Could not determine the status of this resolution. There seems to have been an error in the system. Please report this immediately as it may negatively affect the whole resolution workflow."
    },
  ];
mixin stage-info-icon
  +icon("clipboard-text", "mediumsmall left text-lighten-1 light-green-text")
mixin stage-info-index(index, decorated, noDescription)
  -
    var indexName = index;
    //also use ? if at "unkown" last stage
    if (index >= stageData.length - 1 || index < 0) {
      index = stageData.length - 1;
      indexName = "?";
    }
    var data = stageData[index];
  h5.light(id="rstage" + index)
    if decorated
      +stage-info-icon
      | Status:
    =" " + data.title
    a(href="/help#rstage" + indexName): b.text-lighten-1.grey-text=" #" + indexName
  if ! noDescription
    p.justify=data.description
      if data.advance
        br
        b Advance to next stage by:
        =" " + data.advance
mixin attribute-descr(attrib, showDefaultState)
  case attrib
    when "readonly"
      span.custom-badge.teal.lighten-1 Read-only
      .justify This resolution is read-only and can't be edited without administrative privileges. The editor is displayed and can be used but automatic and user invoked saving is restricted until this flag is unset.
    when "noadvance"
      span.custom-badge.teal.lighten-1 Non-advanceable
      .justify This resolution cannot be advanced without administrative privileges and will stay at this stage until this flag is unset. The editor can still be used by authorized users though.
    when "static"
      span.custom-badge.teal.lighten-1 Static
      .justify This resolution cannot be advanced or edited without administrative privileges and will stay in this exact state until this flag is unset. The editor can be used if authorized to do so but changes won't be saved. This attribute combines #[em Read-only] and #[em Non-advanceable].
    when "none"
      //-tells the user what the current state is, otherwise hidden
      if showDefaultState
        span.custom-badge.teal.lighten-1 No special state
        .justify The resolution is in its original state and doesn't have any additional saving or advancement restrictions. This is the state that all resolutions are created with.
