extends layout

block content
  .container
    include stages
    h4.center: +icon(weakpermIcon, "large" + weakpermColor)
    h3.center Insufficient Permission to Advance
    .divider
    p.justify The resolution with token #[b=token] could not be advanced to stage #[a(href="/help#rstage" + (stage + 1))="#" + (stage + 1)] with the provided valid access code because it did not have the required permission level. You entered a code with the permission level #[a(href="/help#" + accessLevel)=accessLevel].
      br
      | #[a(href="/resolution/editor/" + token) Return] to the editor page.
    h4 Current Stage:
    +stage-info-index(stage, false)
