a.eab-btn {
  margin-left: 10px;
  margin-bottom: 10px;
}

#token-preset {
  font-family: monospace;
}

.action-save-large span {
  font-size: 2.3rem;
  line-height: 1rem;
  margin: 15px 0px;
  display: block;
}

.action-save-large i:before {
  font-size: 3rem;
  line-height: 1;
}

.btn-top-mrg {
  margin-top: 15px;
}

#vote-bar {
  height: 22px;
}

.vote-bar-part {
  float: left;
  height: 22px;
}

#vote-results {
  padding-top: 0px;
}

.vote-result {
  margin-top: 30px;
}

#resolution-pass-status {
  margin-top: 0px;
}

.input-field.selector-mrg input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#res-id {
  font-family: monospace;
}

.inline-spinner-wrapper {
  margin-left: 0.7em;
}

/*hide the top level divider and add clause button of the amendment display clause*/
#amd-clause-wrapper > .clause-list > .clause > .divider, #amd-clause-wrapper > .clause-list > .add-clause-container {
  display: none;
}

#amd-select-group {
  margin-top: 0.7em;
}

/*hide edit mode button in disabled clauses*/
.disabled-clause .edit-mode-btn {
  display: none;
}

.disabled-clause .add-clause-container {
  display: none;
}

.disabled-clause input:disabled, .disabled-clause textarea:disabled {
  color: rgba(0, 0, 0, 0.65) !important;
  border-bottom-width: 2px !important;
}

#preamb-clauses .cond-phrase {
  font-style: italic;
}

#op-clauses .cond-phrase, #amd-clause-wrapper .cond-phrase {
  text-decoration: underline;
}

p.clause-cond, p.clause-ext-cond {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

#amd-apply-btn {
  margin-left: 1em;
}

.introtext i.mediumsmall:before {
  font-size: 2.5rem;
}

.chips {
  margin-top: 0;
}

#meta-input-divider {
  margin-bottom: 1.5rem;
}

.phrase-input-wrapper {
  max-width: 300px;
}

.collection .collection-item {
  border-bottom: none;
  border-top: 1px solid #e0e0e0;
}
.collection .collection-item:first-child {
  border-top: none;
}

.clause.collection-item {
  padding-bottom: 0;
  padding-top: 5px;
}

.add-clause-container.collection-item {
  padding: 20px;
}
