.add-clause-btn {
  margin-bottom: 20px;
  margin-top: 20px;
}

.clause-list-sub-mrg, .clause-list-sub {
  margin-left: 35px;
}

#eab-wrapper a {
  margin-left: 10px;
  margin-bottom: 10px;
}

.red-underline {
  text-decoration: underline;
  text-decoration-color: red;
}

#token-preset {
  font-family: monospace;
}

.action-save-large span {
  font-size: 2.3rem;
  margin: 15px 0px;
  display: block;
}

.action-save-large i {
  font-size: 3rem;
  margin: 5px 15px 5px 0px;
}

.btn-top-mrg {
  margin-top: 15px;
}

#vote-bar {
  height: 22px;
}

.vote-bar-part {
  float: left;
  height: 22px;
}

#vote-results {
  padding-top: 0px;
}

.vote-result {
  margin-top: 30px;
}

#resolution-pass-status {
  margin-top: 0px;
}

.input-field.selector-mrg input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#res-id {
  font-family: monospace;
}

/*additional to the main style rule*/
.inline-spinner-wrapper {
  margin-left: 0.7em;
}

/*hide the top level divider and add clause button of the amendment display clause*/
#amd-clause-wrapper > .clause-list > .clause > .divider {
  display: none;
}

#amd-clause-wrapper > .clause-list > .add-clause-container {
  display: none;
}

#amd-select-group {
  margin-top: 0.7em;
}

/*hide edit mode button in disabled clauses*/
.disabled-clause .edit-mode-btn {
  display: none;
}

.disabled-clause .add-clause-container {
  display: none;
}

.disabled-clause input:disabled, .disabled-clause textarea:disabled {
  color: rgba(0, 0, 0, 0.65) !important;
  border-bottom-width: 2px !important;
}

#preamb-clauses .cond-phrase {
  font-style: italic;
}

#op-clauses .cond-phrase, #amd-clause-wrapper .cond-phrase {
  text-decoration: underline;
}

#amd-apply-btn {
  margin-left: 1em;
}

.introtext i.mediumsmall:before {
  font-size: 2.5rem;
}

.chips {
  margin-top: 0;
}
