.def-tree ul:not(.collection-item) {
  *margin-left: 20px;
}

.def-tree i:before {
  font-size: 1.2em;
}

.def-tree i {
  margin-left: 0.3em;
}

.propname {
  font-family: monospace;
  font-weight: bold;
}
