#meta-buttons a {
  margin: 10px;
}

#co_spon {
  margin-top: 20px;
}

.REM_box-padding {
  margin-top: 0.75rem;
}

.absolute-fab-wrapper {
  float: right;
  position: relative;
}

.absolute-fab {
  position: absolute;
}
