.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

#navbar-icon {
  display: inline-flex;
  vertical-align: middle;
}

.custom-badge {
  width: auto;
  border-radius: 2px;
  color: white;
  float: left;
  padding: 0px 5px;
  font-weight: 300;
  margin-right: 5px;
}

.inline-spinner-wrapper {
  display: inline-block;
}

.inline-spinner {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
}

.btn-spacing {
  margin-left: 2rem;
}

.btn-spacing-right {
  margin-right: 2rem;
}

.no-bottom-mrg {
  margin-bottom: 0;
}
